
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>
    <form method="get">
        <input type="text" value="Строка" name="stringToAdd" />
        <input type="submit" value="Отправить!" />
    </form>
</body>
</html>
