
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>
    <form method="post">
        <input type="text" value="str" name="stringToAdd" />
        <input type="submit" value="Добавить!" />
    </form>
</body>
</html>
