@model List<string>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StringsList</title>
</head>
<body>
    <form method="post">
        <input type="number" name="pageNumber" />
        <input type="number" name="stringsPerPage" />
        <input type="submit" value="Отобразить страницу" />

        @{
            if (Model == null)
            {
                return;
            }

            foreach (var selectedString in Model)
            {
                <br>@selectedString
            }
        }
    </form>
</body>
</html>
