@model StringArrayDisplay.ViewModels.StringsDisplayInfoViewModel

@{
    if (Model == null)
    {
        return;
    }

    // Display strings
    foreach (var selectedString in Model.Strings)
    {
        <br>
        @selectedString
    }
    
    // Display page numbers
    <br><br>
    var pagesCount = (float)Model.AvailableStringsCount / Model.StringsPerPage;
    for (int i = 1; i < pagesCount + 1; i++)
    {
        <a href="Display?pageNumber=@i&stringsPerPage=@Model.StringsPerPage">@i</a>
    }
}