@model StringArrayDisplay.ViewModels.PageInfoViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>StringsList</title>
</head>
<body>
@{
    if (Model == null)
    {
        return;
    }

    // Display strings
    foreach (var selectedString in Model.strings)
    {
        <br>
        @selectedString
    }
    
    // Display page numbers
    <br><br>
    var pagesCount = (float)Model.availableStringsCount / Model.stringsPerPage;
    for (int i = 1; i < pagesCount + 1; i++)
    {
        <a href="Display?pageNumber=@i&stringsPerPage=@Model.stringsPerPage">@i</a>
    }
}
</body>
</html>